body {
    font-family: sans-serif;
    background-color: #E8A2E0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.RegisterForm {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    margin-bottom: 20px;
}
.fullName, .birthDateAndGender, .genDer, .EmailAndPhone, .selectSubject {
    margin-bottom: 15px;
}