body {
    font-family: sans-serif;
    background-color: #E8A2E0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.RegisterForm {
    text-align: center;
    border: 1px solid #ccc;
    max-width: 40%;
    margin: 0 auto;
}